.contact-section{
    width: 50%;
    margin-left: 50%;
    align-items: flex-start;
    justify-content: flex-start;
}
.info{
    display: flex;
    margin-bottom: 20px;
}
.text{
    margin-left: 10px;
    color: grey;
    font-size: 15px;
    text-align: center;
}

footer{
    width: 100%;
    margin-top: 300px;
    background-color: #F7F7F7;
    height: 27vh;
}
.footer-text{
   text-align: center;
   color: grey;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-text{
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
